include LICENSE
include README.rst
include setup.py
include CHANGELOG.rst
recursive-include docs *
recursive-include tests/xml *.xml

prune docs/_build
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
